<div class="paginator mt-5">
	{% do products.setPageRange(3) %}
	{{knp_pagination_render(products, 'knp_paginator/pagination.html.twig', {}, {
				'align': 'center',
				'rounded': true,
				}
			)}}
</div>
