@import "variables";

body{
    min-height: 100vh;
}
.containerPage{
    position: relative;
    min-height: calc(#{$containerPage} - #{$footerHeight} - #{$navHeight});
    background-color: $eggshell;
}
.noUi-connect {
    background: $brown;
}