$grey: #666;
$eggshell: #EEE6D8;
$brown: #d3ab85;
$blue: #0071bc;
$platinium: #E5E7E6;
$magnolia: #F7F0F5;
$darkGreen: #55aa9a;
$paradisePink: #ee4266;
$largeurLogoNav : 148px;
$navHeight : 80px;
$footerHeight : 64px;
$containerPage : min(100vh);
$logoHeight: 36px;